git+https://github.com/Tritium-VLK/brownie@master
git+https://github.com/BalancerMaxis/bal_addresses@0.2.2
git+https://github.com:Hattyot/BalanceSnapshotter@main
dotmap
prettytable
tablulate
rich
tqdm
